<div class="container" ng-controller="editCharController">



  <br><br><br>



  <div class="card white">


    <div class="card-content">


      <input-field>
        <input type="text" ng-model="character.name">
        <label>Name</label>
      </input-field>
      
      
      <input-field>
        <input type="text" ng-model="character.picture">
        <label>Picture</label>
      </input-field>
      
      
      
      <input-field>
          <textarea ng-model="character.disc" class="materialize-textarea"></textarea>
        <label>Description</label>
      </input-field>
      
        <p>
      <input type="checkbox" ng-model="character.evil" id="test5" />
      <label for="test5">Is Evil</label>
    </p>
      
       <br><br>
      
      
      <a class="waves-effect waves-light btn red" ng-click="update(character)">Update</a>
      
      <br><br><br><hr>



      <span class="grey-text">{{character}}</span>

    </div>


  </div>




</div>